.container {
  width: 20vw;
  padding-bottom: 2rem;
  @media (max-width: 870px) {
    width: 18rem;
  }
  @media (max-width: 620px) {
    width: 14rem;
  }
  @media (max-width: 420px) {
    width: 16rem;
  }

  &__image {
    position: relative;
    overflow: hidden;
    width: 20vw;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    @media (max-width: 870px) {
      width: 18rem;
      height: 18rem;
    }
    @media (max-width: 620px) {
      width: 14rem;
      height: 14rem;
    }
    @media (max-width: 420px) {
      width: 16rem;
      height: 16rem;
    }
    background: #272626;
    > svg {
      font-size: 3rem;
      color: white;
      animation: scale 1.5s infinite;
    }
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}
