@import "./../SASS/__mixins";
@import "./../SASS/__variables";
.skeleton {
  margin: 2rem 0;
  border-radius: 10rem;
  position: relative;
  overflow: hidden;
  background: $color-white;
  animation: scale2 1.2s infinite;
}

.skeleton::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10rem;
  animation: gotoRight 1.2s infinite;
  background: $color-black;
  z-index: 2;
  filter: blur(50px);
}

@keyframes gotoRight {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(200%);
  }
}

@keyframes scale2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}
