@import "./__variables";
@font-face {
  font-family: IntegralBold;
  src: url("./../font/integralcfBold.otf");
}
@mixin gridCenter {
  display: grid;
  align-items: center;
  justify-content: center;
}

@mixin heading($size, $col, $weight) {
  font-size: $size;
  font-family: IntegralBold;
  color: $col;
  text-transform: uppercase;
  font-weight: $weight;
  line-height: 1.35;
}

@mixin linkButton($col, $size) {
  text-decoration: none;
  font-size: $size;
  color: $col;
}

@mixin imageCover($wid, $heig, $pos, $t, $l) {
  width: $wid;
  height: $heig;
  object-fit: cover;
  position: $pos;
  top: $t;
  left: $l;
}
@mixin card1($pad, $col, $wid, $hei, $pos) {
  padding: $pad;
  color: $col;
  width: $wid;
  height: $hei;
  position: $pos;
}

@mixin linkAnchor($size, $col, $weight) {
  text-decoration: none;
  color: $col;
  font-size: $size;
  font-weight: $weight;
}

@mixin flexbox($align, $just, $dir, $gutter) {
  display: flex;
  align-items: $align;
  justify-content: $just;
  flex-direction: $dir;
  gap: $gutter;
}
@mixin flexrow($g, $align) {
  display: flex;
  align-items: $align;
  gap: $g;
}
@mixin flexcol($g, $align) {
  display: flex;
  align-items: $align;
  flex-direction: column;
  gap: $g;
}
@mixin input($tbp, $lrp) {
  border: none;
  outline: none;
  background-color: $color-grey-light;
  padding: $tbp $lrp;
  color: $color-primary-ultra-light;
  border-radius: 10rem;
  width: 100%;
}

@mixin boxes($bor) {
  padding: 1rem 2rem;
  border: $bor;
  border-radius: 1.4rem;
}

@mixin active($col, $bgcol) {
  border-radius: 2rem;
  background: $bgcol;
  color: $col;
}
