@import "./../../SASS/__mixins";
@import "./../../SASS/__variables";
.list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  border-bottom: $border-light-1;
  @media (max-width: 720px) {
    padding: 0rem 2rem;
  }
  @media (max-width: 580px) {
    padding: 0rem 1rem;
  }
  @media (max-width: 480px) {
    padding: 0rem 0.5rem;
  }
  li {
    padding-bottom: 1rem;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 720px) {
      width: 25%;
      padding-bottom: 0.5rem;
    }
    @media (max-width: 550px) {
      width: max-content;
    }
    a {
      text-align: center;
      font-size: 1.6rem;
      text-decoration: none;
      color: $color-primary-light;
      @media (max-width: 720px) {
        font-size: 1.4rem;
      }
    }
  }
  .active {
    border-bottom: $border-big-light-2;
    a {
      font-size: 1.6rem;
      font-weight: 600;
      color: $color-black;
      @media (max-width: 720px) {
        font-size: 1.4rem;
      }
    }
  }
}
