@import "./../../SASS/__mixins";
@import "./../../SASS/__variables";

.arrivals__container {
  @include flexbox(center, unset, column, 4rem);
  width: inherit;
  .heading {
    @include heading(3rem, $color-black, 700);
    @media (max-width: 900px) {
      font-size: 2.6rem;
    }
    @media (max-width: 639px) {
      font-size: 2.2rem;
    }
    @media (max-width: 450px) {
      font-size: 1.6rem;
    }
  }
  .arrivals__slider {
    width: 100%;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;

    &__child {
      scroll-snap-align: center;
      display: flex;
      gap: 2rem;
    }
  }
}
