@import "./SASS/__mixins";
@import "./SASS/__variables";
.brands {
  background: $color-black;
  color: white;
  grid-column: full-start / full-end;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
  padding: 2rem 0rem;
  > * {
    max-width: 25rem;
    padding: 0rem 4rem;
  }
  @media (max-width: 900px) {
    > * {
      max-width: 20rem;
      padding: 1rem;
    }
    gap: 1rem;
  }
}
