@import "./SASS/__variables";
@import "./SASS/__mixins";
%card_base {
  @include card1(3rem, $color-black, 100%, 25rem, relative);

  h4 {
    position: absolute;
    z-index: 3;
    font-size: 2.5rem;
  }
  img {
    border-radius: 1.3rem;
    @include imageCover(100%, 100%, absolute, 0, 0);
  }
}

@media (max-width: 900px) {
  %card_base {
    @include card1(2.6rem, $color-black, 100%, 25rem, relative);

    h4 {
      position: absolute;
      z-index: 3;
      font-size: 1.8rem;
    }
    img {
      border-radius: 1.3rem;
      @include imageCover(100%, 100%, absolute, 0, 0);
    }
  }
}

.browse {
  background-color: $color-grey-light;
  grid-column: center-start / center-end;
  border-radius: 7rem;
  padding: 5rem;
  @media (max-width: 900px) {
    border-radius: 2rem;
  }
  h2 {
    @include heading(4.5rem, $color-black, 800);
    text-align: center;
    margin-bottom: 4rem;
    @media (max-width: 900px) {
      font-size: 3.5rem;
    }
  }
  &__cards {
    @include gridCenter;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));

    gap: 4rem;
    &__card1 {
      @extend %card_base;
    }
    &__card2 {
      @extend %card_base;
      img {
        transform: rotateY(180deg);
      }
    }
    &__card3 {
      @extend %card_base;
    }
    &__card4 {
      @include card1(3rem, $color-black, 100%, 25rem, relative);
      @media (max-width: 900px) {
        @include card1(2.6rem, $color-black, 100%, 25rem, relative);
      }
      background-color: $color-white;
      overflow: hidden;
      border-radius: 1.3rem;
      h4 {
        position: absolute;
        z-index: 3;
        font-size: 2.5rem;
        @media (max-width: 900px) {
          font-size: 1.8rem;
        }
      }
      img {
        @include imageCover(100%, 100%, absolute, 0, 10rem);
        border-radius: 1.3rem;
      }
    }
  }
}
