@import "./SASS/__variables";
@import "./SASS/__mixins";
%card_base {
  padding: 3rem;
  color: $color-black;
  width: 100%;
  height: 25rem;
  position: relative;
  h4 {
    position: absolute;
    z-index: 3;
    font-size: 2.5rem;
  }
  img {
    border-radius: 1.3rem;
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.browse {
  background-color: $color-grey-light;
  grid-column: center-start / center-end;
  border-radius: 7rem;
  padding: 5rem;
  h2 {
    font-size: 4.5rem;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    color: $color-black;
    margin-bottom: 4rem;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    align-items: center;
    justify-content: center;
    gap: 4rem;
    // div {
    // }
    &__card1 {
      @extend %card_base;
    }
    &__card2 {
      @extend %card_base;
      img {
        transform: rotateY(180deg);
      }
    }
    &__card3 {
      @extend %card_base;
    }
    &__card4 {
      padding: 3rem;
      color: $color-black;
      width: 100%;
      height: 25rem;
      position: relative;
      background-color: $color-white;
      overflow: hidden;
      border-radius: 1.3rem;
      h4 {
        position: absolute;
        z-index: 3;
        font-size: 2.5rem;
      }
      img {
        border-radius: 1.3rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 10rem;
      }
    }
  }
}
