@import "./SASS/_variables";
@import "./SASS/_mixins";
.navbar {
  background: #fff;
  grid-column: center-start / center-end;

  display: grid;
  grid-template-columns: min-content 0.7fr 1fr 0.1fr;
  grid-template-rows: 1fr;

  img {
    width: 16rem;
    height: min-content;
    @media only screen and (max-width: 900px) {
      width: 12rem;
    }
  }

  ul {
    list-style: none;
    grid-template-columns: repeat(4, max-content);
    grid-template-rows: 1fr;
    gap: 2.5vw;
    @include gridCenter;

    a {
      text-decoration: none;
      color: $color-black;
      font-size: 1.3rem;
      @media only screen and (max-width: 900px) {
        font-size: 1rem;
      }
    }
  }
  .search {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    &__icon {
      position: absolute;
      font-size: 1.8rem;
      width: 7vw;
      color: $color-primary-ultra-light;
      @media only screen and (max-width: 900px) {
        width: 13vw;
        font-size: 1.5rem;
      }
    }
    &__box {
      padding: 1.1vw 4vw;
      border-radius: 100px;
      background: $color-grey-light;
      color: $color-primary-ultra-light;
      border: none;
      outline: none;
      margin: 0 auto;
      width: 95%;
      @media only screen and (max-width: 900px) {
        width: 80%;
        font-size: 1.3rem;
      }
    }
  }
  .icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 2rem;
    &__cart {
      font-size: 2rem;
      position: relative;
    }
    &__user {
      font-size: 1.7rem;
    }
  }
}
