@import "./SASS/__mixins";
@import "./SASS/__variables";

.newslater {
  background: #000;
  color: white;
  padding: 3rem;
  position: absolute;
  width: 90%;
  top: -10rem;
  transform: translate(5%);
  border-radius: 2rem;
  @media (max-width: 572px) {
    top: -16rem;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
    @media (max-width: 572px) {
      flex-direction: column;
      gap: 3rem;
    }
    h1 {
      @include heading(3.5rem, $color-white, 800);
      // font-family: IntegralBold;
      width: 47%;
      @media (max-width: 900px) {
        font-size: 3rem;
      }
      @media (max-width: 767px) {
        font-size: 2.6rem;
        letter-spacing: 0.1px;
      }
      @media (max-width: 714px) {
        font-size: 2.2rem;
      }
      @media (max-width: 625px) {
        font-size: 2rem;
      }
      @media (max-width: 572px) {
        font-size: 2.9rem;
        width: 100%;
      }
    }
    &__input {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      min-width: 30rem;
      max-width: 90%;

      @media (max-width: 900px) {
        min-width: 27rem;
      }
      @media (max-width: 767px) {
        gap: 1.3rem;
        min-width: 25rem;
      }
      @media (max-width: 625px) {
        min-width: 20rem;
      }
      @media (max-width: 572px) {
        gap: 2rem;
        min-width: 80%;
      }

      button,
      input {
        border-radius: 3rem;
        font-size: 1.3rem;
        padding: 1.3rem 2.5rem;
        background-color: $color-white;
        border: none;
        outline: none;
      }
      input {
        color: $color-primary-ultra-light;
      }
      button {
        color: $color-black;
        text-align: center;
        text-transform: capitalize;
      }

      @media (max-width: 767px) {
        min-width: 20rem;
        input,
        button {
          font-size: 1.1rem;
          padding: 1.1rem 2.5rem;
        }
      }
      @media (max-width: 572px) {
        min-width: 35rem;
        input,
        button {
          font-size: 1.5rem;
          padding: 1.3rem 2.5rem;
        }
      }
      @media (max-width: 427px) {
        min-width: 30rem;
        input,
        button {
          font-size: 1.5rem;
          padding: 1.3rem 2.5rem;
        }
      }
      @media (max-width: 370px) {
        min-width: 25rem;
        input,
        button {
          font-size: 1.5rem;
          padding: 1.3rem 2.5rem;
        }
      }
    }
  }
}
