@import "./../SASS/__mixins";
@import "./../SASS/__variables";

.NotFound {
  margin: 10rem auto;
  padding: 2rem;
  height: 10vh;
  h1 {
    @include heading(2.5rem, $color-black, 800);
    code {
      font-size: 2rem;
      color: var(--primary-color);
      font-weight: 500;
    }
  }
  grid-column: center-start / center-end;
}
