@import "./../SASS/__variables";
.formSmall {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  input {
    max-width: 95%;
    padding: 1rem 4rem;
    min-width: 20rem;
    border-radius: 100px;
    background: $color-grey-light;
    color: $color-primary-ultra-light;
    border: none;
    outline: none;
  }
}
