@import "./../../../SASS/__variables";
@import "./../../../SASS/__mixins";
.container {
  position: relative;
  grid-column: full-start / full-end;
  padding: 6rem;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  @media (max-width: 1000px) {
    padding: 5rem 3rem;
  }
  @media (max-width: 900px) {
    padding: 3rem 2rem;
  }
  @media (max-width: 420px) {
    padding: 3rem 1rem;
  }

  // Products section has been started form there.
  .products {
    width: 100%;
    flex: 1;
    &__typo {
      display: flex;
      justify-content: space-between;
      padding-bottom: 1rem;
      align-items: center;
      padding: 1rem 3rem;
      @media (max-width: 600px) {
        padding: 1rem;
      }
      @media (max-width: 500px) {
        padding: 1rem 0rem;
      }
      h3 {
        font-size: 2.2rem;
        font-weight: 600;
        color: $color-black;
      }
      &__sub {
        display: flex;
        align-items: center;
        gap: 1.9rem;
        &__para {
          display: flex;
          gap: 3rem;
          @media (max-width: 600px) {
            flex-direction: column;
            gap: 0;
          }

          > p {
            font-size: 1.5rem;
            color: $color-primary-light;
            @media (max-width: 652px) {
              font-size: 1.3rem;
            }

            span {
              color: $color-black;
              font-weight: 500;
            }
          }
        }
        .filterIcon {
          display: none;
          font-size: 1.5rem;
          color: $color-black;
          z-index: 3;
          cursor: pointer;
          @media (max-width: 920px) {
            display: block;
          }
        }
      }
    }
    &__items {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;

      @media (max-width: 900px) {
        padding-top: 2rem;
        gap: 1rem;
        justify-content: center;
      }
      @media (max-width: 420px) {
        gap: 1rem;
      }
    }
  }
}
