//Colors for light mode
$color-primary: #2c2c2c;
$color-primary-light: rgba(0, 0, 0, 0.6);
$color-primary-ultra-light: rgba(0, 0, 0, 0.4);
$color-primary-moreultra-light: rgba(0, 0, 0, 0.3);
$color-primary-moreultra-light: rgba(0, 0, 0, 0.3);
$color-grey-light: #f0f0f0;
$color-grey-lightest: #f2f0f1;
$color-grey-cream-dark: #f0eeed;
$color-white: #fff;
$color-black: #000;
$color-red-dark: #ff3333;
$color-red-light: rgba(255, 51, 51, 0.1);

//Bordrs for light mode

$border-light-1: 1px solid rgba(0, 0, 0, 0.1);
$border-light-2: 2.5px solid rgba(0, 0, 0, 0.1);
