@import "./../SASS/__variables";
@import "./../SASS/__mixins";
.form {
  position: relative;
  grid-column: center-start / center-end;
  margin: 10rem auto;
  user-select: none;
  background-color: $color-grey-light;
  padding: 2rem 4rem;
  border-radius: 0.1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 0.5rem 0.4rem rgba($color-black, 0.3);
  @media (max-width: 480px) {
    padding: 2rem 1.5rem;
  }
  &__icon {
    background: $color-grey-light;
    width: 5rem;
    height: 5rem;
    margin: auto;
    border-radius: 10rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
    @include flexCenter;
    svg {
      color: $color-blue;
      z-index: 6;
      font-size: 2rem;
      @media (max-width: 480px) {
        font-size: 1.8rem;
      }
    }
  }
  &__fields {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 50vw;
    width: 30vw;
    min-width: 35rem;
    @media (max-width: 480px) {
      min-width: 70vw;
    }
    &__label {
      font-size: 1.6rem;
      font-weight: 600;
      color: $color-black;
      @media (max-width: 480px) {
        font-size: 1.4rem;
      }
    }
    &__input {
      font-size: 1.4rem;
      padding: 1rem 1.3rem;
      color: $color-black;
      border: none;
      outline: none;
      font-weight: 400;
      border: 1.4px solid transparent;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
      border-radius: 0.35rem;
      transition: all 0.3s;
      @media (max-width: 480px) {
        font-size: 1.2rem;
      }
    }

    &__input:hover {
      border: 1.4px solid $color-violet;
    }
    input[type="number"] {
      -moz-appearance: textfield;
    }

    /* Hide arrows in Chrome, Safari, Edge, and Opera */
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  ul {
    list-style: none;
    > li {
      color: $color-red-dark;
      font-size: 1.1rem;
    }
  }
  &__fieldRel {
    position: relative;
    > svg {
      position: absolute;
      font-size: 1.8rem;
      right: 4%;
      top: 60%;
      color: $color-primary;
    }
  }
  button {
    border: none;
    background: $color-violet;
    color: $color-white;
    padding: 1rem;
    border-radius: 0.35rem;
    cursor: pointer;
    margin-top: 2rem;
    font-size: 1.3rem;
    transition: all 0.3s;
    @media (max-width: 480px) {
      font-size: 1.2rem;
    }
    svg {
      font-size: 1.5rem;
      animation: rounding 1.4s linear infinite;
      transition: all 0.2s;
    }
  }
  &__link {
    text-align: center;
    @include linkButton($color-blue-2, 1.3rem);
    p {
      text-decoration: underline;
      text-underline-offset: 4px;
    }
    @media (max-width: 480px) {
      font-size: 1.1rem;
    }
  }
}

@keyframes rounding {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
