@import "./../SASS/__variables";
@import "./../SASS/__mixins";

.navbar {
  grid-column: center-start / center-end;
  width: 100%;
  background: $color-white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @media (max-width: 900px) {
    grid-column: full-start / full-end;
    padding: 0rem 1rem;
    &__logo {
      img {
        width: 15rem;
        height: auto;
        @media (max-width: 720px) {
          width: 11rem;
        }
      }
    }
  }

  //media query here for parent
  &__list {
    margin: 0 3rem;
    @media (max-width: 900px) {
      display: none;
    }

    &__listItems {
      display: flex;
      list-style: none;
      gap: 1.9rem;
      a,
      a:active,
      a:visited,
      li {
        text-decoration: none;
        color: $color-black;
        font-size: 1.4rem;
        font-weight: 500;
      }
    }
  }
  &__open {
    display: block;
    position: absolute;
    top: 1rem;
    right: -2.56rem;
    z-index: 2;
    background-color: $color-white;
    width: 18rem;
    height: 70vh;
    border-radius: 3rem;
    border: $border-light-1;
    animation: moveSidebar 0.5s;
    box-shadow: $shadow-light-1;
    @media (max-width: 500px) {
      width: 95vw;
    }
    ul {
      display: flex;
      flex-direction: column;
      padding: 3rem 4rem;
    }
  }
  &__search {
    position: relative;
    flex-grow: 1;
    padding: 0rem 4rem;

    @media (max-width: 620px) {
      display: none;
    }
    > svg {
      position: absolute;
      font-size: 1.8rem;
      top: 31%;
      left: 53px;
      color: $color-primary-ultra-light;
      @media (max-width: 720px) {
        top: 27%;
      }
    }
    input {
      @include input(1.5rem, 4rem);
      @media (max-width: 720px) {
        padding: 1.1rem 4rem;
      }
    }
  }
  &__icons {
    display: flex;
    gap: 2rem;
    > svg {
      font-size: 1.9rem;
      color: $color-black;
      @media (max-width: 720px) {
        font-size: 1.6rem;
      }
    }
    &__Cross,
    &__bars {
      display: none;
      @media (max-width: 900px) {
        display: block;
      }
    }
    &__Cross {
      position: absolute;
      top: 2.4rem;
      right: 3rem;
      z-index: 3;
    }
    &__search {
      display: none;
      @media (max-width: 620px) {
        display: block;
      }
    }
  }
  @media (max-width: 620px) {
    .hidden {
      display: none;
    }
  }
  &__inputFull {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    flex: 1;
    input {
      margin: auto;
      @include input(1rem, 4rem);
      width: 80%;
      @media (max-width: 500px) {
        width: 99%;
      }
    }
  }
}

@keyframes moveSidebar {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    opacity: 1;
    transform: translateX(-5%);
  }

  80% {
    transform: translateX(3%);
  }

  100% {
    transform: translateX(0%);
  }
}
